html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #e0d7d7;
}

.hero {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/zermatt.jpg");
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
}

.hero__main {
  position: relative;
  top: 7rem;
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  text-transform: uppercase;
}

.hero__location span {
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}

.hero__location span:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -12px;
  left: -2px;
  width: 12px;
  height: 13px;
  border-left: 2px solid #fff;
}

.hero__location span h5 {
  margin: 0;
}

.hero__location span h5:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -11px;
  left: -6px;
  width: 13px;
  height: 19px;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero__location span h5:after {
  content: "";
  position: absolute;
  right: -2px;
  z-index: 50;
  bottom: -2px;
  width: calc(100% - 11px);
  height: 2px;
  background: #fff;
}

.hero__heading {
  font-size: 2.5rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.hero__buttons button {
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero__buttons_white-button {
  background-color: white;
  color: black;
}

.hero__buttons_transparent-button {
  background: none;
  color: white;
}

.hero__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__video-wrapper {
  height: 600px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

.hero__video-wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.hero .key-issues__heading {
  text-transform: uppercase;
}

.hero .key-issues__para {
  font-size: 1.5rem;
  text-align: justify;
}

.news {
  margin-top: 3rem;
}

.news__heading {
  margin: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.news .news-card__text {
  padding: 1rem;
}

.news__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__header .more {
  padding: 0.25rem 0;
  font-size: 0.8rem;
  text-align: right;
}

.more {
  text-transform: uppercase;
  font-weight: bold;
}

.tags {
  color: #3446e7;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}

.news-card__tags {
  font-size: 0.7rem;
}

.header .nav {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 12px;
  font-family: 'is-open Sans', sans-serif;
  width: 100vw;
  z-index: 100;
  position: absolute;
  left: 0;
  letter-spacing: 2px;
  top: 0;
}

.header .nav__brand {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

.header .nav__brand a {
  text-decoration: none;
}

.header ul {
  margin: 0;
  text-transform: uppercase;
}

.header ul li {
  text-align: center;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
}

.header ul li:hover a {
  font-weight: bold;
}

.header ul li a {
  color: #eee;
  text-decoration: none;
}

.header .nav, .header .nav__brand {
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-property: background-color, line-height, height, -webkit-box-shadow;
  transition-property: background-color, line-height, height, -webkit-box-shadow;
  transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.header .is-sticky {
  position: fixed !important;
  top: 0;
  background-color: #292c2ede;
}

.header .is-sticky ul li a {
  color: white;
}

.header .is-sticky ul li:hover a {
  color: #aca4a1;
}

.header .is-sticky .first-row {
  border-bottom-color: #6E7982;
}

.is-sticky .nav__menu {
  top: 0;
}

.is-sticky .nav__menu .nav__hamburger {
  background: transparent;
}

.is-sticky .nav__menu .nav__hamburger::before, .is-sticky .nav__menu .nav__hamburger::after {
  background: white;
}

.fixed-body {
  height: 100%;
  overflow: hidden;
}

.is-open {
  height: 100vh;
  background-color: #292c2eea;
}

.is-open.is-sticky .nav__hamburger {
  background: transparent;
}

.is-open .nav__hamburger {
  background-color: transparent;
}

.is-open .nav__hamburger::before {
  -webkit-transform: rotate(45deg) translate(0, 0);
  transform: rotate(45deg) translate(0, 0);
}

.is-open .nav__hamburger::after {
  -webkit-transform: rotate(-45deg) translate(2px, -2px);
  transform: rotate(-45deg) translate(2px, -2px);
}

#button__slide--play {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#button__slide--play .button__slide-text {
  text-align: right;
}

#button__slide--play img {
  width: 2rem;
}

.nav__menu {
  display: block;
  outline: none;
  position: relative;
  line-height: 60px;
  float: left;
  left: 20px;
  top: 4px;
  width: 60px;
  height: 60px;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

.nav__menu:hover {
  opacity: 1;
}

.nav__hamburger,
.nav__hamburger::after,
.nav__hamburger::before {
  margin: 0 auto;
  display: block;
  width: 24px;
  height: 2px;
  line-height: 0;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.nav__hamburger {
  background: transparent;
}

.nav__hamburger::before, .nav__hamburger::after {
  content: '';
  background: #fff;
}

.nav__hamburger::before {
  -webkit-transform: rotate(45deg) translate(0, 0);
  transform: rotate(45deg) translate(0, 0);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.nav__hamburger::after {
  -webkit-transform: rotate(-45deg) translate(2px, -2px);
  transform: rotate(-45deg) translate(2px, -2px);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

ul.nav__navbar {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: transform 150ms;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  padding-left: 0;
}

ul.nav__navbar li {
  line-height: calc((100vh - 60px) / 6);
  display: block;
}

.is-open .nav__navbar {
  -webkit-transform: translate(0%, 0);
  transform: translate(0%, 0);
}

.nav .nav__brand {
  display: block;
  text-align: center;
  float: none;
}

.nav {
  height: 100px;
}

.nav.is-open {
  height: auto;
  min-height: 100vh;
}

.nav.is-open .nav__brand {
  border-bottom: 1px solid white;
}

.nav.is-sticky {
  height: 6rem;
}

.nav .first-row {
  display: none;
}

.nav .search {
  display: none;
}

.nav .search__icon {
  padding: 0 0.5rem 0 1rem;
}

.nav .search__input {
  background-color: transparent;
  border: none;
  border: 1px solid #44444400;
  color: white;
}

.nav .search__input::-webkit-input-placeholder {
  color: white;
}

.nav .search__input:-ms-input-placeholder {
  color: white;
}

.nav .search__input::-ms-input-placeholder {
  color: white;
}

.nav .search__input::placeholder {
  color: white;
}

.nav .search__input:hover {
  border: 1px solid #69565659;
}

nav.is-open.is-sticky {
  height: auto;
}

nav.is-open.is-sticky .nav__brand {
  border-bottom: 1px solid #6E7982;
}

@media (max-width: 600px) {
  .search.search--mobile {
    display: inline;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
  .search.search--mobile .search__input {
    display: none;
  }
  .nav__brand {
    height: 6rem;
    border-bottom: 1px solid white;
  }
  .nav__brand a img {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
  }
  .is-sticky .nav__brand {
    height: 6rem;
    border-bottom: 1px solid #6E7982;
  }
  .hero__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .key-issues {
    background-color: #fff;
    padding: 1rem;
    text-align: left;
  }
  .hero__cards, .hero__main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
  }
  .news {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 40px;
    width: 100vw;
  }
  .news__content {
    margin: 1rem 0;
    background: white;
  }
  .news__content .news-card__image {
    width: 100%;
  }
  .news__content .news-card__header {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  .news__content .news-card__date {
    color: #6E7982;
    text-transform: uppercase;
  }
  #button__slide--play {
    position: relative;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 600px) {
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown__button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown:hover .dropdown__button {
    background-color: #69565659;
  }
  .dropdown:hover .dropdown__content {
    display: block;
  }
  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .dropdown__content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown__content a:hover {
    background-color: #ddd;
  }
  .nav__menu {
    display: none;
  }
  .search--mobile {
    display: none;
  }
  ul.nav__navbar {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: transform 0;
    -webkit-transition: -webkit-transform 0;
    transition: -webkit-transform 0;
    transition: transform 0;
    transition: transform 0, -webkit-transform 0;
    padding-left: 0;
  }
  ul.nav__navbar li {
    line-height: 30px;
    display: inline-block;
  }
  .nav {
    border-bottom: 1px solid white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8fr;
        grid-template-columns: 1fr 8fr;
  }
  .nav .nav__brand {
    border-right: 1px solid white;
    display: inline-block;
    text-align: left;
    float: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav__text {
    display: -ms-grid;
    display: grid;
    color: white;
    text-transform: uppercase;
  }
  .nav__text .first-row {
    -ms-grid-columns: 6fr 1fr;
        grid-template-columns: 6fr 1fr;
    display: -ms-grid;
    display: grid;
    border-bottom: 1px solid white;
    margin-top: 0.3rem;
    padding-right: 60px;
  }
  .nav__text .first-row__title-follow {
    margin-bottom: 0.3rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-right: 1px solid white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__text .first-row__title {
    margin: auto;
  }
  .nav__text .first-row__contact-lang {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding-left: 1em;
    padding-right: 1rem;
    margin-bottom: 0.3rem;
  }
  .nav__text .first-row__contact-lang div {
    margin: auto;
    right: 0;
  }
  .nav__text .first-row__lang {
    border-left: 1px solid white;
    display: -ms-grid;
    display: grid;
    padding: 0 1rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .nav__text .second-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 1fr;
        grid-template-columns: 6fr 1fr;
    margin-top: 0.3rem;
    padding-right: 60px;
  }
  .nav__text .search {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8fr;
        grid-template-columns: 1fr 8fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 1px solid white;
    margin-bottom: 0.3rem;
  }
  .is-sticky.nav {
    border-bottom: 1px solid #6E7982;
  }
  .is-sticky.nav .nav__brand {
    border-right: 1px solid #6E7982;
  }
  .hero__main {
    padding-left: 120px;
    padding-right: 120px;
  }
  .hero__heading {
    width: 50vw;
    font-size: 5rem;
  }
  .hero__cards {
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero__video {
    width: 40%;
    height: 100%;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
  }
  .hero__video video {
    -webkit-box-shadow: 4px 2px 2px #6E7982;
            box-shadow: 4px 2px 2px #6E7982;
  }
  .hero .key-issues {
    background-color: #fff;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem;
    text-align: left;
  }
  .news {
    padding: 2rem 60px;
  }
  .news__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
    position: relative;
    grid-gap: 1rem;
  }
  .news__content .news-card__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news__content .news-card:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
    position: relative;
  }
  .news__content .news-card:nth-child(1) .news-card__image {
    position: absolute;
    height: 100%;
    z-index: 1;
  }
  .news__content .news-card:nth-child(1) .news-card__text {
    padding: 0 3rem;
    position: absolute;
    top: 60%;
    z-index: 2;
    width: 50%;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
  }
  .news__content .news-card:nth-child(1) .news-card__tags .tags {
    color: white;
  }
  .news__content .news-card:nth-child(1) .news-card__date {
    display: none;
  }
  .news__content .news-card:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / span 1 / span 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .news__content .news-card:nth-child(2) .news-card__text {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .news__content .news-card:nth-child(2) .news-card__text .news-card__header {
    font-size: 2rem;
    padding: 1rem 0;
  }
  .news__content .news-card:nth-child(2) .new-card__image img {
    height: 100%;
    width: 100%;
  }
  .news__content .news-card:nth-child(3), .news__content .news-card:nth-child(4) {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 9fr 4fr;
        grid-template-rows: 9fr 4fr;
  }
  .news__content .news-card:nth-child(3) img, .news__content .news-card:nth-child(4) img {
    height: 100%;
  }
  #button__slide--play {
    position: absolute;
    top: 50%;
    right: 60px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/*# sourceMappingURL=main.css.map */