$break-width: 600px;
$container-padding: 60px;
$nav-background: #292c2ede;

@mixin prefix($declarations, $prefixes: ()) {
  @each $property,
  $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}
@mixin nav-transform($rotate, $translate) {
  @include prefix(
    (
      transform: rotate($rotate) translate($translate, -$translate)
    ),
    webkit moz
  )
}
@mixin box-shadow-logo($color) {
  box-shadow: 0 -4px 4px $color;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #e0d7d7;
}
.hero {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/zermatt.jpg');
  grid-template-rows: 4fr 1fr;
  &__main {
    position: relative;
    top: 7rem;
    min-height: 85vh;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: center;
    color: white;
    text-transform: uppercase;
  }
  &__location {
    span {
      color: #fff;
      padding: 5px 10px;
      border: 2px solid #fff;
      border-bottom-color: transparent;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -12px;
        left: -2px;
        width: 12px;
        height: 13px;
        border-left: 2px solid #fff;
      }
      h5 {
        margin: 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -11px;
          left: -6px;
          width: 13px;
          height: 19px;
          border-right: 2px solid #fff;
          transform: rotate(50deg);
          box-shadow: none;
        }
        &:after {
          content: "";
          position: absolute;
          right: -2px;
          z-index: 50;
          bottom: -2px;
          width: calc(100% - 11px);
          height: 2px;
          background: #fff;
        }
      }
    }
  }
  &__heading {
    font-size: 2.5rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  &__buttons {
    button {
      border: none;
      padding: 0.5rem 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    &_white-button {
      background-color: white;
      color: black;
    }
    &_transparent-button {
      background: none;
      color: white;
    }
  }
  &__cards {
    display: flex;

  }
  &__video-wrapper {
    height:600px;
    width:600px;
    position:relative;
    overflow:hidden;
    iframe {
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      bottom:0;
    }
  }

  .key-issues {
    &__heading {
      text-transform: uppercase;
    }
    &__para {
      font-size: 1.5rem;
      text-align: justify;
    }
  }
}
.news {
  margin-top: 3rem;
  &__heading {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .news-card__text {
    padding: 1rem;
  }
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    .more {
      padding: 0.25rem 0; 
      font-size: 0.8rem;
      text-align: right;
    }
  }
}
.more {
  text-transform: uppercase;
  font-weight: bold;
}
.tags {
  color: #3446e7;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}
.news-card__tags {
  font-size: 0.7rem;
}
.header {
  .nav {
    transition: all .5s ease;
    font-size: 12px;
    font-family: 'is-open Sans', sans-serif;
    width: 100vw;
    z-index: 100;
    position: absolute;
    left: 0;
    letter-spacing: 2px;
    top: 0;
    &__brand {
      padding-left: $container-padding;
      padding-right: $container-padding;
      font-size: 20px;
      font-family: 'Pacifico', cursive;
      a {
        text-decoration: none;
      }
    }
  }
  ul {
    margin: 0;
    text-transform: uppercase;
    li {
      text-align: center;
      list-style: none;
      padding: 15px 15px;
      cursor: pointer;
      &:hover a {
        font-weight: bold;
      }
      a {
        color: #eee;
        text-decoration: none;
      }
    }
  }
  .nav, .nav__brand {
    -webkit-transition-property: background-color, box-shadow, line-height, height;
    transition-property: background-color, box-shadow, line-height, height;
    @include prefix((transition-timing-function: cubic-bezier(.78, .13, .15, .86),
      transition-duration: 0.3s), webkit moz)
  }
  .is-sticky {
    position: fixed !important;
    top: 0;
    // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background-color: $nav-background;
    ul li a {
      color: rgb(255, 255, 255);
    }
    ul li:hover a {
      color: rgb(172, 164, 161);
    }
    .first-row {
      border-bottom-color: #6E7982;
    }
  }
}
.is-sticky .nav__menu {
  top: 0;
  .nav__hamburger {
    background: transparent;
    &::before,
    &::after {
      background: white;
    }
  }
}
.fixed-body{
  height: 100%;
  overflow: hidden;
}
.is-open {
  height: 100vh;
  background-color: #292c2eea;
}
.is-open.is-sticky .nav__hamburger {
  background: transparent;
}
.is-open .nav__hamburger {
  background-color: transparent;
  &::before {
    @include nav-transform(45deg, 0);
  }
  
  &::after {
    @include nav-transform(-45deg, 2px);
  }
}
#button__slide--play {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; 
  .button__slide-text {
    text-align: right;
  }
  img {
    width: 2rem;
  }
}
.nav__menu {
  display: block;
  outline: none;
  position: relative;
  line-height: 60px;
  float: left;
  left: 20px;
  top: 4px;
  width: 60px;
  height: 60px;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.7;
  @include prefix((transition: opacity 150ms));
  &:hover {
    opacity: 1;
  }
}
.nav__hamburger,
.nav__hamburger::after,
.nav__hamburger::before {
  margin: 0 auto;
  display: block;
  width: 24px;
  height: 2px;
  line-height: 0;
  @include prefix((transition: all 150ms));
}
.nav__hamburger {
  background: transparent;
  &::before, &::after {
    content: '';
    background: #fff;
  }
  &::before {
    @include nav-transform(45deg, 0);
    @include prefix((transform: translateY(-3px)), webkit moz);
  }
  &::after {
    @include nav-transform(-45deg, 2px);
    @include prefix((transform: translateY(3px)), webkit moz);
  }
}
ul.nav__navbar {
  @include prefix((transform: translate(-100%, 0)), webkit moz);
  @include prefix((transition: transform 150ms), webkit moz);
  li {
    line-height: calc((100vh - 60px) / 6);
    display: block;
  }
  padding-left: 0;
}
.is-open .nav__navbar {
  @include prefix((transform: translate(0%, 0)), webkit moz);
}
.nav .nav__brand {
  display: block;
  text-align: center;
  float: none;
}
.nav {
  height: 100px;
  &.is-open {
    height: auto;
    min-height: 100vh;
    .nav__brand {
      border-bottom: 1px solid white;
    }
  }
  
  &.is-sticky {
    height: 6rem;
  }
  .first-row {
    display: none;
  }
  .search {
    display: none;
    &__icon {
    padding: 0 0.5rem 0 1rem;
    }
    &__input {
    background-color: transparent;
    border: none;
    border: 1px solid #44444400;
    color: white;
    &::placeholder {
    color: white;
    }
    &:hover {
    border: 1px solid #69565659;
    }
    }
  }
  
}
nav.is-open.is-sticky {
  height: auto;
  .nav__brand {
    border-bottom: 1px solid #6E7982;
  }
}
@media (max-width: $break-width) {
  .search.search--mobile {
    display: inline;
    position: absolute;
    right: 1rem;
    top: 2rem;
    .search__input {
      display: none;
    }
  }
  .nav__brand {
    height: 6rem;
    border-bottom: 1px solid white;
    a img {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }
  }
  .is-sticky .nav__brand {
    height: 6rem;
    border-bottom: 1px solid #6E7982;
  }
  .hero {
    &__cards {
      flex-direction: column;
    }
    .key-issues {
      background-color: #fff;
      padding: 1rem;
      text-align: left;
    }
  }
  .hero__cards, .hero__main {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
  }
  .news {
    box-sizing: border-box;
    padding: 0 40px;
    width: 100vw;
    &__content {
      margin: 1rem 0;
      background: white;
      .news-card {
        &__image {
          width: 100%;
        }
        &__header {
          font-size: 1.2rem;
          padding: 1rem 0;
        }
        &__date {
          color: #6E7982;
          text-transform: uppercase;
        }
      }
    }
  }
  #button__slide--play {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: $break-width) {
  .dropdown {
    float: left;
    overflow: hidden;
    &__button {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    &:hover {
      .dropdown__button {
        background-color: #69565659;
      }
      .dropdown__content {
        display: block;
      }
    }
    &__content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1000;
      a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
  .nav__menu {
    display: none;
  }
  .search--mobile {
    display: none;
  }
  ul.nav__navbar {
    @include prefix((transform: translate(0, 0)), webkit moz);
    @include prefix((transition: transform 0), webkit moz);
    //change this
    li {
      line-height: 30px;
      display: inline-block;
    }
    padding-left: 0;
  }
  .nav {
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 8fr;
    // background-color: #292c2e71;
    .nav__brand {
      border-right: 1px solid white;
      display: inline-block;
      text-align: left;
      float: left;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &__text {
      display: grid;
      color: white;
      text-transform: uppercase;
      .first-row {
        grid-template-columns: 6fr 1fr;
        display: grid;
        border-bottom: 1px solid white;
        margin-top: 0.3rem;
        padding-right: $container-padding;
        &__title-follow {
          margin-bottom: 0.3rem;
          padding-left: 2rem;
          padding-right: 1rem;
          border-right: 1px solid white;
          display: grid;
          grid-template-columns: auto auto;
          justify-content: space-between;
        }
        &__title {
          margin: auto;
        }
        &__contact-lang {
          display: grid;
          grid-template-columns: auto auto;
          padding-left: 1em;
          padding-right: 1rem;
          margin-bottom: 0.3rem;
          div {
            margin: auto;
            right: 0;
          }
        }
        &__lang {
          border-left: 1px solid white;
          display: grid;
          padding: 0 1rem;
          justify-content: end;
        }
      }
      .second-row {
        display: grid;
        grid-template-columns: 6fr 1fr;
        margin-top: 0.3rem;
        padding-right: $container-padding;  
      }
      .search {
        display: grid;
        grid-template-columns: 1fr 8fr;
        justify-content: center;
        align-items: center;
        border-left: 1px solid white;
        margin-bottom: 0.3rem;
      }
    }
  }
  .is-sticky.nav {
    border-bottom: 1px solid #6E7982;
    .nav__brand {
      border-right: 1px solid #6E7982;
    }
  }
  .hero {
    &__main {
      padding-left: $container-padding + 60px;
      padding-right: $container-padding + 60px;
    }
    &__heading {
      width: 50vw;
      font-size: 5rem;
    }
    &__cards {
      padding-left: $container-padding;
      padding-right: $container-padding;
      flex-direction: row-reverse;
    }
    &__video {
      width: 40%;
      height: 100%;
      margin-left: 2.5rem;
      margin-top: 2.5rem;
      video {
        box-shadow: 4px 2px 2px #6E7982;
      }
    }
    .key-issues {
      background-color: #fff;
      margin-right: 2.5rem;
      margin-top: 2.5rem;
      padding: 1rem;
      text-align: left;
    }
  }
  .news {
    padding: 2rem $container-padding;
    &__content {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      position: relative;
      grid-gap: 1rem;
      .news-card {
        &__image {
          width: 100%;
          object-fit: cover;
        }
        &:nth-child(1) {
          grid-area: 1 / 1 / span 2 / span 1;
          position: relative;
          .news-card {
            &__image {
              position: absolute;
              height: 100%;
              z-index: 1;
            }
            &__text {
              padding: 0 3rem;
              position: absolute;
              top: 60%;
              z-index: 2;
              width: 50%;
              font-size: 2rem;
              color: white;
              text-transform: uppercase;
            }
            &__tags {
              .tags {
                color: white;
              }
            }
            &__date {
              display: none;
            }
          }
        }
        &:nth-child(2) {
          grid-area: 1 / 2 / span 1 / span 2;
          display: grid;
          grid-template-columns: 1fr 1fr;
          .news-card__text {
            position: relative;
            top: 0;
            bottom: 0;
            margin: auto 0;
            .news-card__header {
              font-size: 2rem;
              padding: 1rem 0;
            }
          }
          .new-card__image {
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
        &:nth-child(3), &:nth-child(4) {
          display: grid;
          grid-template-rows: 9fr 4fr;
          img {
            height: 100%;
          }
        } 
      }
    }
  }
  #button__slide--play {
    position: absolute;
    top: 50%;
    right: $container-padding;
    transform: translateY(-50%);
  }
}
